<html>
	<head>
		<title>Slotbust Casino</title>
		<link rel="stylesheet" href="web/assets/css/index.css">
		<style type="text/css"></style>
	</head>
	<body>
		<h1>Slotbust Casino</h1>
		<h2>By Donal Lynch | Software engineer</h2>
		
		<div id="wrap">
			<div id="card">
				<div class="container frontPanel front">
					<div class="pic-holder"></div>
					<div class="content-holder">
						<div class="row">
							<span class="heavy highlighted">SLOTBUST CASINO</span><br>
							<span class="heavy highlighted">&pound;1000 BONUS</span>
						</div>
						<div class="row">
							<span class="heavy">JOIN US</span><br>
							Open an account with us, it takes just a few minutes
						</div>
						<div class="row">
							<span class="heavy">DEPOSIT</span><br>
							Place a single bet up to &pound;30 on any sport in our Sportsbook<br>
						</div>
						<div class="row">
							<input type="button" id="join" value="JOIN NOW">
							<input type="button" id="more" value="FIND OUT MORE">
							<input type="button" id="terms" value="Ts&amp;Cs">
						</div>
					</div>
					<div class="new"></div>
					<div class="flip"></div>
					<div class="clear"></div>
				</div>

				<div class="container backPanel hidden back">
					<div class="terms-container">
						<div class="row terms-small-row">
							<span class="heavy highlighted">CASINO BONUS</span><br>
						</div>
						<div class="row terms-middle">
							<span class="heavy">Terms & Conditions</span>
							<br>
                            Offer only available to new customers who come through related online promotional material. 18s+ Place a bet up to the value of what you deposit and up to a max value of &pound;30. Only first placed bet qualifies. Single and Multiple bets qualify. If qualifying bet loses, the amount staked up to max &pound;30 will be refunded. Qualifying bet must be placed within 14 days of requesting the money back special and bet must settle within 21 days of being placed.
						</div>
						<div class="row">
							<input type="button" id="back" value="BACK">
							<input type="button" id="join2" value="JOIN NOW">
						</div>
					</div>
				</div>
			</div><!-- Close #card -->
		</div><!-- Close #wrap -->
		<div class="clear"></div><br><br>
	</body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
	<script type="text/javascript" src="web/assets/js/index.js"></script>
</html>